.logo {
    display: block;
    width: 170px;
    height: 50px;
}
.nameOfMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    min-width: 1000px;
}